/* =======
   COLORS
   ======= */

$primary-color: #707070;
$secondary-color: #888888;
$accent-color: #d6d6d6;
$white: #fff;
$black: #000;

/* =======
   FONTS
   ======= */

$title-size: 40px;
$subtitle-size: 20px;
$regular-text-size: 16px;
$body-text-size: 12px;
$small-text-size: 10px;

/* =======
   BORDERS
   ======= */

$input-border: 1px solid $primary-color;
$input-border-radius: 1px;
